@import "../../styles/variables";

.inputRootContainer {
    .inputElement {
        border-radius: $border-radii-size-1;
        height: $input-height;
        width: $input-width;
        padding-left: 10px;

        &:focus {
            outline: none;
        }
    }
}