@import "../../styles/variables";

.buttonRootContainer {
    flex: 1;
    .buttonGeneric {
        width: $button-width;
        height: $button-height;
        border-radius: $button-border-radius;
        font-size: 16px;

        &.filled {
            background: $button-bg-filled;
        }

        &.outlined {
            background: $button-bg-outlined;
        }
    }
}