.layoutRootContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px 14px;
    
    .layoutInnerContainer {
        padding: 10px;
        flex: 1;
        display: flex;
        flex-direction: column;

        &.noHeaderPadding {
            padding-top: 40px;
        }
    }
}