.singleProduct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;

    .productImage {
        max-width: 60px;
        margin: 0 auto;
    }
}

.scrollerContainer {
    &::-webkit-scrollbar {
        width: 0;
    }

    .productName {
        font-size: 18px;
        flex: 1;
    }
}

.productCardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left{}
    .right {}
}

.cardheader {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}